body{
    height: 100%;
    overflow: hidden;
}
/*Header format. Not Fix down here*/
#header{
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-color: #dbcece;
}

#container {
  min-height:100%;
  position:relative;
  width: 100%;
}

.navbar {
  height: 50px;
  overflow: hidden;
  background-color: #FCBB6D;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  z-index: 300;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 15px;
  padding-top: 13px;
  text-decoration: none;
  transition:0.5s;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 13px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d10404;
  transition:0.1s;
  opacity: 0.8;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #BB0000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e51919;
  opacity: 0.8;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon-bar {
  padding-right: 7px;
}

.icon-bar-side-menu {
  padding: 5px;
  padding-top: 10px;
}

.search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 6px;
  font-size: 16px;
  background-color: #EEEED1;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 6px;
  margin-right: 16px;
  background: #DDDDDD;
  font-size: 16px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

#banner {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 100%;

}

#banner .img-logo { 
  position: absolute;
  font-size: 100px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  opacity: 0.5;
}

#banner .img-logo:hover {
  opacity: 0.95;
  /*padding-bottom: 50px;*/
  transition: 0.5s;
  font-size: 250px;
}

.mySlides {
  display:none;
  width: 100%;
  top: -16px;
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
}

.w3-badge {
  height:13px;
  width:10px;
  padding:0;
  font-size: 1px;
}

.w3-content{
  opacity: 0.7;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 45px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FF9800; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
    color: #FFEFD8;
    opacity: 0.4;
}

#myBtn:hover {
    background-color: #FFAD33; /* Add a dark-grey background on hover */
    transition: 0.3s;
    padding: 13px;
    opacity: 1;
}

#bodypage {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  overflow: hidden;
}

#main {
  width: 100%;
}
/*--------------------- Thuong Cute Begin ---------------------*/
.checked {
    color: orange;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    box-sizing: border-box;
    padding: 0px;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card .box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: 0;
  color: #888888;
  background-color: #F8F8F8;
  width: 50%;
  font-size: 18px;
  box-sizing: border-box;
  float: left;
  padding-top: 6px;
  padding-left: 0px;
  height: 40px;

}
.card button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: 0;
  color: #888888;
  background-color: #F8F8F8;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  box-sizing: border-box;
  float: right;
  height: 40px;

}
.card:hover {
  transform: scale(1.1);
  transition: 0s;
}
.card button:hover {
  opacity: 0.7;
}
.centerP{
  margin: auto;
  width: 242px;
}
.centerW{
  margin: auto;
  width: 148px;
}
.centerSub{
  margin: auto;
  padding-top: 3px;
  text-align: center;
  font-size: 17px;
  font-family: Courier New;
  color: #888888;
  box-sizing: border-box;
}
#title {
  margin: auto;
  padding-left: 32px;
  padding-top: 7px;
  font-size: 30px;
  color: #800;
  display: inline-block;
  box-sizing: border-box;
}
#sortby {
  float: right;
  background-color: inherit;
  padding-top: 10px ;
  padding-bottom: 10px;
  font-size: 14px;
  padding-right: 30px;
  color: #888888;
  display: inline-block;
  box-sizing: border-box;
}
.btn {
  float: right;
  border: none;
  background-color: inherit;
  padding: 7px 10px;
  font-size: 14px;
  padding-right: 30px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}

/* On mouse-over */
.btn:hover {background: #eee;}
.warning {color: #800;}
.danger {color: #888888;}
.default {color: #888888;}

.number {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: auto;
  background-color: #F8F8F8;
  color: #888888;
  cursor: pointer;
}

.number:hover {
  background-color: #ddd;
  color: black;
}
.here {
  background-color: #EBEBEB;
}
.center {
  margin: auto;
  width: 208px;
}

/*---------------------- Thuong Cute End ----------------------*/
#main {
  font-family:Arial, Helvetica, sans-serif;   
  font-size:12px;
}

/*=============================================================//
//                                                             //
//                       END OF YOUR CODE                      //
//                                                             //
//=============================================================*/

/*Footer format. Not Fix down here*/
#footer {
  width: 100%;
  height: 40px;
  background-color: #FCBB6D;
  overflow: hidden;
}

#footer .footer-left {
  float: left;
  overflow: hidden;
  position: relative;
  padding: 10px;
  top: 3px;
  margin: 0;
  color: #BAB9B9;
  font-size: 12px;
}  

#footer .footer-left a {
  list-style-type: none;
  padding-left: 15px;
  color: #BAB9B9;
}

#footer .footer-right {
  float: right;
  position: relative; 
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  color: #BAB9B9;
  font-size: 14px;
}

#footer .footer-right a{
  position: relative;
  top: 3px;
  padding-right: 20px;
  margin: 0;
}

.icon-bar-footer {
  color: #BAB9B9;
  height: 28px;
  width: 30px;
  text-align: center;
  transition:0.5s;
}

#footer .footer-right i:hover {
  background: #d10404;
  opacity: 0.7;
  border-radius: 4px;
  padding: 4px;
}

.dropmenu {
  display: none;
}



@media only screen and (max-width: 770px) {
  .footer-right {
    display: none;
  }
  .item{
    padding-left: 70px;
  }
  #header {
    height: 200px;
  }
  #banner {
    height: 200px;
  }
  #bodypage {
  padding-left: 30px;
  padding-right: 30px;
  }
  .thumbnail {
    width: 200px;
  }
  .navbar {
    display: none;
  }
  .dropmenu {
    display: block;
    position: fixed; /* Fixed/sticky position */
    top: 40%; /* Place the button at the bottom of the page */
    left: : 10px; /* Place the button 30px from the right */
    z-index: 69; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #880000; /* Set a background color */
    padding: 10px; /* Some padding */
    border-radius: 0 15px 15px 0; /* Rounded corners */
    font-size: 14px; /* Increase font size */
    color: #FFEFD8;
    opacity: 0.4;
  }
  .dropmenu:hover {
    transform: scale(1.2);
    opacity: 0.8;
    transition: 0.4s;
  }
}

@media only screen and (max-width: 390px) {
  .dropmenu {
    padding: 9px;
    font-size: 12px;
  }
  #myBtn {
    transform: scale(0.6);
    right: 7px;
    bottom: 7px;
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .dropmenu {
    padding: 4px;
    padding-left: 13px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 680px) and (orientation: landscape) {
  .dropmenu {
    padding: 4px;
    padding-left: 9px;
    font-size: 9px;
  }
  #myBtn {
    transform: scale(0.8);
    right: 15px;
    bottom: 15px;
  }
}